html, body{
    height:100%;
}

body{
    margin:0;

    font-family: Roboto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a{
    color:white;
    text-decoration: none;
}

.header{
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 900;
    padding: 20px 150px;


}

.links{
    display: flex;
    gap: 10px;
    font-size: 18px;
    font-weight: normal;
}

.footer{
    margin-top: auto;
    background-color: #1F2937;
    
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding:30px;

}

.body{
    flex:1;
}

.headline{
    flex:1;

    background-color: #1F2937;
    color: white;
    padding: 60px 150px;

    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.right img{
    width: 450px;
    height: 250px;
}

.left{
    font-weight: 900;
    color: #F9FAF8;
    font-size: 48px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.left div{
    font-weight: normal;
    color: white;
    font-size: 18px;
}

.left button{
    background-color: #3882F6;
    color: white;
    align-self: baseline;
    padding: 6px 16px;
    border-radius: 5px;
    border: 0;
}

.image-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 0px;
}

.section-head{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.image-container{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.div-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-section{
    background-color: #E5E7EB;
    padding: 40px 340px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

blockquote{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    margin: 0;
}

.quote-section p{
    text-align: right;
    font-weight: bold;
    margin: 0;
}

.action-section{
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
    margin: 50px 150px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
}

.action-left{
    display: flex;
    flex-direction: column;
    gap: 5px;

    align-self: flex-end;
}

.action-section button{
    align-self: flex-end;
    border: 1px solid white;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 4px 12px;
}

.action-header{
    font-size: 16px;
    font-weight: bold;
}